.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:hover {
  cursor: pointer;
  color: blue;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column1 {
  margin-right: 68%;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius:45px;
  color: white;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}